{% extends 'base.html.twig' %}



{% block content %}
<br></br><br></br>
   <link rel="stylesheet" href="{{ asset('/form.css') }}">
    <h1>AJOUTER EVENEMENTS</h1>

    {{ include('event/_form.html.twig') }}

    
   {{ include('event/index.html.twig') }}
  
{% endblock %}

