{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>AJOUTER EVENEMENTS</h1>

    {{ include('event/_form.html.twig') }}

    
   {{ include('event/index.html.twig') }}
  
 
{% endblock %}

