{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/stylecheckEmail.css') }}">
  <div class="container">
    <div class="text-container">
      <h1 class="title">Password Reset Email Sent</h1>

      <div class="content">
        <p>
          If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
          This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
      </div>
    </div>
  </div>  
{% endblock %}
