.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

/* Style pour les boutons */
.btn-group {
    display: inline-block;
}

.btn-group form {
    margin-right: 5px; /* Espace entre les boutons */
}

/* Style pour le bouton "Create new" */
.btn-create-new {
    margin-top: 10px; /* Espacement depuis le tableau */
}

/* Style pour le bouton "Edit" */
.btn-edit {
    background-color: #007bff; /* Bleu */
    color: #fff; /* Texte blanc */
}

/* Style pour le bouton "Delete" */
.btn-delete {
    background-color: #dc3545; /* Rouge */
    color: #fff; /* Texte blanc */
}

/* Style pour le bouton "Create" */
.btn-create {
    background-color: #28a745; /* Vert */
    color: #fff; /* Texte blanc */
}

h1 {
    color: #27588C; /* Bleu */
    text-align: center; /* Centrer le texte */
}

/* styles.css */

.my-form-class {
    /* Ajoutez vos styles personnalisés pour le formulaire ici */
    /* Par exemple, vous pouvez définir la largeur, la couleur de fond, les marges, etc. */
    width: 300px;
    margin: auto; /* Centre le formulaire horizontalement */
    background-color: #f2f2f2;
    padding: 20px;
}

/* Styles pour les éléments du formulaire */
.my-form-class input[type="text"],
.my-form-class textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* Styles pour le bouton */
.my-form-class button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.my-form-class button:hover {
    background-color: #0056b3;
}

/* Ajoutez d'autres styles personnalisés selon vos besoins */

.custom-green {
    background-color: #28a745; /* Vert */
    color: white;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
}

.describ-textarea {
    width: 100%;
    height: 200px; /* ou tout autre taille souhaitée */
    resize: vertical; /* permettre le redimensionnement vertical */
}








.event-container {
    display: flex;
    flex-wrap: wrap;
}

.event-box {
    width: calc(33.33% - 20px); /* 33.33% moins un espacement de 20px pour chaque boîte */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-box h2 {
    margin-top: 0;
}

.event-box p {
    margin-bottom: 10px;
}

.event-box img {
    max-width: 100%;
    height: auto;
}


.event-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.event-box {
    background-color: #f8f8f8;
   
    padding: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    position: relative;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
