{% extends 'baseback.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

         
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <!-- Vendor JS Files -->
  




{% endblock %}
