table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    font-weight: bold;
    color: green;
  }
  
  td, th {
    border: 1px solid green;
    padding: 8px;
  }
  
  a.edit-button {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  a.edit-button:hover {
    background-color: darkgreen;
  }